.wrapper {
  position: relative;
  width: 100%;
  height: 8rem;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
}

.input {
  width: 100%;
  height: 100%;
  padding-left: 8rem;
  border: none;
  font-size: 2rem;

  &:focus-visible {
    outline: none;
  }
}

.plus {
  position: absolute;
  left: 2rem;
  top: 2rem;
}

.add {
  position: absolute;
  right: .5rem;
  top: .5rem;
  bottom: .5rem;
  width: 13rem;
}