@import "../../scss/base";

.city {
  padding: 0 10% 14rem;

  @include for-600 {
    padding: 0 5% 14rem;
  }
}

.placeholder {
  font-size: 2rem;
  color: $color--white;

  a {
    text-decoration: none;
  }
}

.hourly {
  margin-top: 3rem;
  max-width: 100vw;
  background: $color--white;
  border-radius: 10px;
}
