.home {
  margin: 4rem auto 0;
  width: 100rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;

  @media screen and (max-width: 1200px) {
    width: 100%;
    padding: 0 8rem;
  }

  @media screen and (max-width: 400px) {
    width: 100%;
    padding: 0 3rem;
  }

  h1 {
    margin: 0;
    font-size: 2.4rem;
    font-weight: 600;
  }

  p {
    margin: 2rem 0 7rem;
    font-size: 2.4rem;
    font-weight: 300;
  }
}

.cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: calc(100% - 40rem);
  min-width: 100rem;
  margin-top: 15rem;
  padding: 0 20rem 16rem;

  @media screen and (max-width: 1200px) {
    width: 100%;
    padding: 0 8rem;
  }
}

.clearAllBtn {
  padding: 1rem 2rem;
    margin-top: 1rem;
    margin-bottom: -4rem;
}

.supportedCities {
  position: fixed;
  top: 1rem;
  right: 1rem;
  font-size: 1.2rem;

  ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    list-style-type: none;
  }
}