@import "../../../scss/base";

.button {
  @include flex-center;
  border: none;
  background: $color--dark;
  color: $color--white;
  cursor: pointer;

  &:focus {
    -webkit-tap-highlight-color: transparent;
  }
}

.circle {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  font-size: 1.6rem;
}

.regular {
  border-radius: 10px;
  font-size: 2rem;
}
