@import "../../../scss/base";

.header {
  padding: 4rem 20rem;

  @include for-1200 {
    padding: 4rem 10%;
  }

  @include for-800 {
    padding: 4rem 5%;
  }

  @include for-400 {
    padding: 2rem;
  }
}
