.hd {
  padding: 4rem;
  font-family: "Poppins", sans-serif;

  h1 {
    font-size: 2.2rem;
  }

  &__cards {
    display: flex;
    overflow: auto;
  }
}

.card {
  flex: 1;
  text-align: center;
  min-width: 6rem;

  &__time {
    font-size: 1.8rem;
    font-weight: 300;

    @media screen and (max-width: 600px) {
      font-size: 1.6rem;
    }
  }

  svg {
    height: 2.8rem;
  }

  &__t {
    font-size: 2rem;
    font-weight: 600;

    @media screen and (max-width: 600px) {
      font-size: 1.6rem;
    }
  }
}
