.wrapper {
  margin: 4rem auto 0;
  width: 100rem;
  color: #fff;
  font-family: 'Poppins', sans-serif;

  p {
    font-size: 2.4rem;
    font-weight: 600;
  }

  pre {
    font-size: 2rem;
    font-weight: 300;
    color: rgb(255, 0, 0);
  }

  button {
    padding: 1rem 2rem;
  }
}