@import "../../../scss/base";

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 2rem;
  text-align: center;
  font-size: 1.6rem;
  background: $color--dark;
  color: $color--white;
}
